.yumisu {
    background-color: black;
    font-family: Inter;
    font-weight: 400;
    color:#999999;
    padding-top:40px;

    &__container {
        width: 1292px;
        max-width: 100%;
        margin:auto;
        box-sizing: border-box;

        @media screen and (max-width: 992px) {
            padding: 0 30px;
        }
    }
    &__phototext {
        display:flex;

        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
        }
    }
    &__photo-div {
        border-radius:16px;
        width:100%;
        align-self:flex-start;
        overflow:hidden;
        display:flex;
        flex-direction: column;
        gap: 30px;
    }
    &__topphoto {
        width:100%;
        object-fit:cover;
        border-radius:16px;
        display:block;
    }
    &__toptext {
        margin-left:60px;

        @media screen and (max-width: 992px) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
    &__h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        color: #FFF;
        margin-bottom:16px;
    }
    &__h6 {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom:40px;
    }
    &__p {
        font-size: 14px;
        line-height: 20px;
        max-width:240px;
    }
    &__line {
        width:100%;
        border:1px solid #FFFFFF33;
        margin:40px 0 32px;
    }
    &__bottom {
        display:flex;
        gap:35px;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__column {
        margin-right:15.3vw;
    }
    &__2columns {
        display: flex;
        justify-content: space-between;
    }
    &__personphoto {
        align-self:flex-start;
        width:300px;
        max-width: 100%;

        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__name,
    &__years {
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 10px;
    }
    &__job,
    &__exp {
        font-size: 12px;
        line-height: 18px;
        margin:4px 0 16px;
    }
    &__p2 {
        font-size: 14px;
        line-height: 20px;
    }
    &__jobdescription {
        font-size: 14px;
        line-height: 20px;
        margin-right: 5px;
    }
    &__lasttext {
        margin:39px 0 71px;
        font-size: 18px;
        line-height: 28px;
        color: #FFF;
    }
    &__specs {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @media screen and (max-width: 992px) {
            display: block;
        }
    }
    &__lastimg {
        max-width: 100%;
        
        @media screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
    &__list {
        list-style-type: square;
        margin-top: 40px;

        li {
            margin-bottom: 20px;
        }
    }
}